@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-alpha-lyrae: var(--font-alpha-lyrae);
}

:root {
  scroll-behavior: smooth;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
}

@keyframes spin-gradient {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@layer utilities {
  .animate-gradient-rotate {
    animation: spin-gradient 3s linear infinite;
  }
}

@layer utilities {
  .font-ss01 {
    font-feature-settings: 'ss01' 1 !important;
  }

  .font-ss03 {
    font-feature-settings: 'ss03' 1;
  }

  .hover-font-ss01:hover {
    font-feature-settings: 'ss01' 1;
  }

  .pixel-hover-transition {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1) 75ms;
  }

  .\[transform-style\:preserve-3d\] {
    transform-style: preserve-3d;
  }

  .tracking-tight {
    --tw-tracking: var(--tracking-tight);
    letter-spacing: var(--tracking-tight);
  }

  .shadow-elevation-light {
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-elevation-light {
    --tw-shadow:
      0px 1px 1px 0px var(--tw-shadow-color, #0000000d), 0px 1px 1px 0px var(--tw-shadow-color, #fffcf080) inset,
      0px 0px 0px 1px var(--tw-shadow-color, #ffffff1a) inset, 0px 0px 1px 0px var(--tw-shadow-color, #1c1b1a80);
  }

  .dark\:shadow-elevation-dark:is(.dark *) {
    --tw-shadow:
      0px 10px 20px var(--tw-shadow-color, #0009), 0px 6px 12px var(--tw-shadow-color, #00000080), 0px 3px 6px var(--tw-shadow-color, #0006),
      0px 1px 3px var(--tw-shadow-color, #0000004d), 0px 1px 2px var(--tw-shadow-color, #ffffff0f) inset,
      0px 0px 0px 1px var(--tw-shadow-color, #ffffff0a) inset, 0px -2px 6px var(--tw-shadow-color, #00000040) inset,
      0px 1px 1px var(--tw-shadow-color, #ffffff05), 1px 1px 2px var(--tw-shadow-color, #ffffff03);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .dark\:shadow-elevation-dark-three:is(.dark *) {
    --tw-shadow:
      0px 4px 8px var(--tw-shadow-color, #0000004d), 0px 2px 4px var(--tw-shadow-color, #0003), 0px 1px 2px var(--tw-shadow-color, #0000001a),
      0px 0.5px 1px var(--tw-shadow-color, #ffffff08) inset, 0px 0px 0px 1px var(--tw-shadow-color, #ffffff05) inset,
      0px -1px 2px var(--tw-shadow-color, #0000001a) inset;
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .dark\:shadow-elevation-dark-two:is(.dark *) {
    --tw-shadow:
      0px 8px 16px var(--tw-shadow-color, #00000080), 0px 4px 8px var(--tw-shadow-color, #0006), 0px 2px 4px var(--tw-shadow-color, #0000004d),
      0px 1px 2px var(--tw-shadow-color, #ffffff0d) inset, 0px 0px 0px 1px var(--tw-shadow-color, #ffffff08) inset,
      0px -2px 4px var(--tw-shadow-color, #0003) inset, 0px 1px 1px var(--tw-shadow-color, #ffffff03);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
}

@layer components {
  .toggle-inverted {
    @apply bg-black text-white border-black hover:bg-gray-900;
    @apply dark:bg-white dark:text-black dark:border-white dark:hover:bg-gray-100;
  }
}
